   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   } 
    section{
        background-color: rgb(42, 61, 139);
        padding-bottom: 50px;
    }

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 750px;
    padding: 16px 0px;
    color: rgb(42, 61, 139);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat";
    z-index: 1000;
}

.logo{
    height: 75px;
}
.carousel-container {
    width: 350px; /* Set the width of the carousel */
    overflow: hidden; /* Hide overflow to create a 'viewport' */
    margin: 0 auto; /* Center the carousel */
    
    padding: 50px 0px;
    position: relative; /* Add position relative for absolute positioning of images */
}

.carousel-slide {
    display: flex; /* Display images in a row */
    transition: transform 0.5s ease-in-out; /* Smoothly transition images */
    width: 100%; /* Ensure the slide takes up the full width */
}

.carousel-item {
    position: relative; /* Position relative for absolute positioning of span */
    width: 100%; /* Set width of each item to 100% */
    flex: 0 0 auto; /* Prevent items from shrinking */
}

.carousel-item img {
    width: 100%; /* Make images fill the container */
    height: auto; /* Maintain aspect ratio */
    flex: 0 0 auto; /* Prevent images from shrinking */
}

.carousel-item span {
    font-family: "Montserrat";
    font-size: 24px;
    position: absolute; /* Position absolute to overlay span over image */
    bottom: 0; /* Position at the bottom of the image */
    left: 0; /* Align with the left edge of the image */
    width: 100%; /* Span width same as image width */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white; /* Text color */
    text-align: center; /* Center text horizontally */
    padding: 5px 0; /* Add padding */
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Optional: Style for left and right navigation buttons */
.carousel-container .prev,
.carousel-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f47d26;
    text-align: center;
    line-height: 30px;
    z-index: 1; /* Ensure buttons are above the images */
}

.carousel-container .prev {
    left: 0;
}

.carousel-container .next {
    right: 0;
}
