.log-in-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 70vh;
    margin: auto;
    margin-top: 2%;
    border-radius: 10px;
    align-items: left;
    justify-content: left;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    input{
      transition: all .25s linear;
      border-radius: 10px;
      border: 1px solid transparent;
      background-color: rgba(42, 61, 139, .2);
      margin: 1%;
      padding: 1%;
      font-size: 100%;
      width: 50%;
      height: 5%;
      color: rgb(42, 61, 139);
  }
  input:focus{
      transition: all .25s linear;
      outline: none;
      border: 1px solid rgb(42, 61, 139);
      background-color: rgba(255, 255, 255, 0.3);
  }
}

.signin-title {
    font-weight: bolder;
    color: rgb(42, 61, 139);
}
.sign-in-btn{
    transition: .25s linear;
    color: rgb(42, 61, 139);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    font-weight: bolder;
    width: 40%;
    height: 8%;
}
.sign-in-btn:hover{
    transition: .25s linear;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}
.wave-1 {
    width: 100vw;
    height: 80vw;
    position: absolute;
    /* top: -25%; */
    left: 50%;
    margin-left: -100px;
    margin-top: 500px;
    border-radius: 35%;
    background: rgb(255, 158, 14);
    animation: wave 15s infinite linear;
    z-index: -1;
  }

  .wave-2{
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: -1000;
  }
  @keyframes wave {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }

 