.css-1ps6pg7-MuiPaper-root{
  box-shadow: none !important;
  background-color: transparent !important;
}

.grad-card-ca{
  font-size: 1.5vw;
  text-align: center;
  height: 40rem;
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  width: 60rem;
  align-self: center;

  img{
      width: 100%;
      height: 60%;
      border-radius: 10px;
  }
  li {
      height: 60rem;
      background-color: rgba(61, 61, 117, .8);
      color: white;
      list-style-type: none;
      display: inline-block;
      justify-content: center;
      align-items: center;
      padding: 1vw;
      padding: auto;
      border-radius: 10px;
      width: 60rem;
      max-width: 670px !important;
  }
  h1{
      font-size: 150%;
      font-weight: bold;
  }
  p{
      font-size: 90%;
      font-weight: lighter;
  }

}
