.g-container{
    width: 100%;
    height: 100%;
    background-color: gray;

}

.carousol{
    align-content: center;
    height: 100vh;
    border-bottom: 2px solid rgb(74, 74, 74);
    background-color: gray;
}

.grad-card-c{
    font-size: 1.5vw;
    text-align: center;
    height: 80vh;
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    width: 80vw;
    align-self: center;
  
    img{
        width: 100%;
        height: 60%;
        border-radius: 10px;
    }
    li {
        height: 80vh;
        background-color: rgba(61, 61, 117, .8);
        color: white;
        list-style-type: none;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 1vw;
        padding: auto;
        border-radius: 10px;
        width: 26vw;
        max-width: 670px !important;
    }

}
@media (max-width: 800px) {

    .grad-card-c, .grad-card-ca{ 
        transition: .25s all;
        li{
 
            min-width: 231px !important;
            min-height: 300px !important;
        }
    }
  
}
@media (max-width: 1660px) {

    .grad-card-c, .grad-card-ca{ 
        li{
            width: 30%;
            height: fit-content !important;
            font-size: 100%;
        }
    }
}
